.filters {
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}

.filters button {
  font-size: 18px;
  background: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  margin-right: 30px;
  border: none;
}

.filters button:hover {
  opacity: 90%;
}

.locations, .amenities {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  position: relative;
}

.locations {
  width: 25%;
  border-right: 1px solid #DDDDDD;
}

.amenities {
  flex: 1;
}

h3.title {
  font-weight: 600;
}

h4.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.popover {
  position: absolute;
  z-index: 10;
  display: none;
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  top: 100%;
  left: 0;
  padding: 20px 30px;
  max-width: 60%;
  min-width: 100%;
  list-style: none;
}

.popover ul {
  padding: 10px;
}
.popover ul li {
  list-style: none;
  padding: 0 20px;
}

.locations:hover .popover, .amenities:hover .popover {
  display: block;
}

.popover h2 {
  font-size: 16px;
}
@media screen and (min-width: 300px) {
  .fillter {
    width: 90%;
  }
  .filters button {
    margin-right: 10px;
  }
  .locations, .amenities {
    padding-left: 10px;
  }
}
